.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp-button a {
    display: inline-block;
    background-color: #25D366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.whatsapp-button a:hover {
    background-color: #128C7E;
}
